<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Por Hacer
      
    </ion-title >
    <img style="width: 70px; padding: 3px;" slot="start" src="../../assets/img/to-do-list.png">
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  <!-- Componente donde se muestran las listas -->
<app-listas></app-listas>


 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AgregarLista()">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>